.expand-icon-show-disable {
    .expand-circle {
        pointer-events: none;
        circle {
            stroke: #ffa6a6;
            fill: #f7f8fbe3;
        }
        .expand-icon {
            fill: #5566d5;
        }

        &:hover {
            circle {
                cursor: pointer;
            }
    
            &:hover .expand-icon {
                fill: #5566d5;
            }
        }

        &:active,
        &.expand-click {
            circle {
                cursor: pointer;
            }
    
            &:active .expand-icon {
                fill: #5566d5;
            }
        }
    }
}
.expand-icon-show {
    .expand-circle {
        circle {
            stroke: #A6B3FF;
            fill: #f7f8fbe3;
        }
        .expand-icon {
            fill: #5566d5;
        }

        &:hover {
            circle {
                cursor: pointer;
            }
    
            &:hover .expand-icon {
                fill: #5566d5;
            }
        }

        &:active,
        &.expand-click {
            circle {
                cursor: pointer;
            }
    
            &:active .expand-icon {
                fill: #5566d5;
            }
        }
    }

    .expand-close-circle {
        circle {
            stroke: #5566d5;
            fill: #5566d5;
        }
        .expand-icon {
            fill: #f7f8fbe3;
        }

        &:hover {
            circle {
                cursor: pointer;
            }
    
            &:hover .expand-icon {
                fill: #f7f8fbe3;
            }
        }

        &:active,
        &.expand-click {
            circle {
                cursor: pointer;
            }
    
            &:active .expand-icon {
                fill: #f7f8fbe3;
            }
        }
    }
}