.edit-icon-wrapper {
    rect {
        stroke: #05a26b;
        stroke-miterlimit: 10;
        stroke-width: 0;
        fill: url(#EditLinearGradient);
    }

    .edit-circle {
        rect {
            stroke: #05a26b;
            stroke-miterlimit: 10;
            stroke-width: 0;
            fill: url(#EditLinearGradient);
        }

        .edit-icon {
            fill: #36b475;
        }
    }

    &:hover {
        rect {
            cursor: pointer;
            fill: #36b475;
            stroke: #2fa86c;
            stroke-miterlimit: 10;
            stroke-width: 0.5;
        }

        &:hover .edit-icon {
            fill: #fff;
        }
    }

    &:active,
    &.edit-click {
        rect {
            cursor: pointer;
            stroke: #2fa86c;
            stroke-miterlimit: 10;
            stroke-width: 0.5;
            fill: #2fa86c;
        }

        &:active .edit-icon {
            fill: #006b46;
        }
    }
}
